<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>

<body>
    <form action="../register/" method="POST">
        {% csrf_token %}
        <input type="text" name="username" id="" placeholder="Username">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="password" name="cnf_password" id="" placeholder="Confirm Password">
        <input type="submit" value="Register">

        <a href="../login/">I alreay have an account </a>
    </form>
</body>

</html>